[submodule "DeepJet"]
	path = DeepJet
	url = https://github.com/NiclasEich/DeepJet.git
[submodule "DeepJetCore"]
	path = DeepJetCore
	url = https://github.com/NiclasEich/DeepJetCore.git 
[submodule "lwtnn"]
    path = DeepCSV_conversion/lwtnn
	url = https://github.com/lwtnn/lwtnn.git